/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* fonts */
@font-face {
    font-family: 'Montserrat-Bold';
    src: url('../fonts/Montserrat-Bold.ttf') format("truetype");
}

@font-face {
    font-family: 'Montserrat-Medium';
    src: url('../fonts/Montserrat-Medium.ttf') format("truetype");
}

@font-face {
    font-family: 'Montserrat-SemiBold';
    src: url('../fonts/Montserrat-SemiBold.ttf') format("truetype");
}

@font-face {
    font-family: 'HelveticaNeue-Hv';
    src: url('../fonts/HelveticaNeue-Hv.otf') format("opentype");
}

@font-face {
    font-family: 'HelveticaNeue-Lt';
    src: url('../fonts/HelveticaNeue-Lt.otf') format("opentype");
}

body {
    background-color: #18293A;
}

.subtitle {
    font-family: "Montserrat-Medium";
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1.2;
    text-transform: uppercase;
    color: white;
    text-align: center;
}

.section-description {
    font-family: "Montserrat-Medium";
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.8;
}

.navbar {
    background-color: #18293A;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
    font-size: 1.2rem;
    font-family: "Montserrat-Medium";
}

.logo-unam {
    width: 42px;
    height: 50px;
}

.logo-fi {
    width: 40px;
    height: 50px;
}

.logo-sefi {
    width: 75px;
    height: 40px;
}

/* Intro */

#intro {
    height: 83vh !important;
    background-color: #18293A;
    background-image: url('../img/INICIO/fondo.png');
    background-repeat: no-repeat;
    background-position: bottom;

    text-align: center;
    color: white;
    font-family: "Montserrat-Medium";
}

.intro-lugar {
    color: #f2ae00;
    font-weight: inherit;
    font-size: 1.2rem;
}

.intro-logo {
    width: 50% !important;
    display: block;
}

button.btn-inscripcion {
    text-transform: uppercase;
    margin-bottom: 2rem;
    padding: 1rem;
    font-size: x-large;
    padding: .5rem 3rem;
    color: white;
    box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
    border: solid 2px transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #78e4ff, #ff48fa);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px rgba(20, 25, 30, 0.98) inset;
}

button.btn-inscripcion:hover {
    box-shadow: none;
    color: white;
}


/* Carousel */
#carousel-fotos {
    height: 70vh;
    background-color: grey;
}

/* About us */
#nosotros-section {
    color: white;
    text-align: center;
    margin-bottom: 5rem;
}

.nosotros-cards.card {
    background-color: rgba(22, 38, 53, 1);
    border: none;
    padding: 0 8vw;
}

.nosotros-cards.card-body {
    background-color: rgba(61, 77, 101, 1);
}

.nosotros-cards h5.card-title {
    font-weight: 300;
    font-family: "Montserrat-Medium";
    font-size: initial;
    line-height: inherit;
}

.nosotros-cards p.card-text {
    font-family: "Montserrat-Medium";
    font-weight: 400;
}

.nosotros-cards div.card-header {
    font-size: 1.3rem;
}

.card-header.title-it-show {
    background: linear-gradient(0.25turn, #ca3058, #f49347);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card-header.title-conisoft {
    background: linear-gradient(0.25turn, #2cd664, #0083d4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card-header.title-mxhacks {
    background: linear-gradient(0.25turn, #007fd0, #a135d5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.btn-it-show {
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #ca3058, #f49347);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px rgba(22, 38, 53, 1) inset;
}


.btn-conisoft {
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #2cd664, #0083d4);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px rgba(22, 38, 53, 1) inset;
}


.btn-mxhacks {
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #007fd0, #a135d5);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px rgba(22, 38, 53, 1) inset;
}

.btn-gradient {
    border-radius: 2rem;
    padding: 0.5rem 2rem;
    text-transform: uppercase;
    color: white;
    border: solid 2px transparent;

}

button.btn-gradient:hover {
    box-shadow: none;
    color: white;
}
a.btn-gradient:hover {
    box-shadow: none;
    color: white;
}


/* Mapas */
#maps {
    color: white;
    text-align: center;
    margin-bottom: 5rem;
}
/* Challenges */
.challenges{
    max-width: 100%;
}

.faq-card {
    margin: 1rem;
}

.faq-card:nth-child(4n) {
    border: rgba(35, 127, 96, 1) solid 1px;
    background-color: rgba(35, 127, 96, 0.5);
}

.faq-card:nth-child(4n+1) {
    border: rgba(147, 110, 87, 1) solid 1px;
    background-color: rgba(147, 110, 87, 0.5);
}

.faq-card:nth-child(4n+2) {
    border: rgba(24, 108, 168, 1) solid 1px;
    background-color: rgba(24, 108, 168, 0.5);
}

.faq-card:nth-child(4n+3) {
    border: rgba(150, 61, 95, 1) solid 1px;
    background-color: rgba(150, 61, 95, 0.5);
}

.faq-box {
    background-color: #3d4d65;
    border-radius: 10px;
}

.faq-title {
    text-transform: uppercase;
    font-family: "Montserrat-Medium";
    color: white;
    text-decoration: none;
}

.faq-title:hover {
    text-transform: uppercase;
    font-family: "Montserrat-Medium";
    color: white;
    text-decoration: none;
}

.faq-title:visited {
    text-decoration: none;
}

.faq-title:active {
    text-decoration: none;
}

.faq-title:link {
    text-decoration: none;
}

.faq-title:focus {
    text-decoration: none;
}

.faq-box div.box-title {
    text-align: center;
}

.faq-box div.box-title img {
    margin: auto;
}

#faq h2 {
    color: white;
    text-align: center;
}

.faq-body {
    color: white;
    font-family: "Montserrat-Medium";

}


/* Patrocinadores */
.presenting-sponsor div img {
    margin: auto;
    height: auto;
    width: 100rem;
}
.gold-sponsors div img{
    margin: auto;
    height: auto;
    width: 20rem;
    margin: 2rem;
}

.silver-sponsors div img{
    margin: auto;
    height: auto;
    width: 25rem;
}

.bronze-sponsors{
    display:flex;
    flex-flow:row wrap;
    justify-content:space-between;
    align-items:center;
    align-content:stretch;
}

.bronze-sponsors div img {
    margin: auto;
    height: auto;
    width: 20rem;
}

.other-sponsors {
    display:flex;
    flex-flow:row wrap;
    justify-content:space-between;
    align-items:center;
    align-content:stretch;
}
.other-sponsors div img{
    margin: auto;
    height: auto;
    width: 10rem;
}

.presenting-sponsor{
    text-align: center;
    padding: 2rem 0;
}
.presenting-sponsor div img {
    width: 90%;
}

/* Footer */

footer {
    background-color: rgba(22, 38, 53, 1);
    color: white;
}

footer a{
    color: white;
}

#challenge-section {
    color: white;
    text-align: center;

}
#images-intro div img{
    border-radius: 300px;
}

#popIsncr{
    color: white;
}
#swal2-title{
    color: white;
}

button.swal2-confirm.swal2-styled{
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #2cd664, #0083d4);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px rgba(22, 38, 53, 1) inset;
}

#popInscr button{
    color: white;
    background-color: rgba(22, 38, 53, 1);
    text-transform: uppercase;
}
#popInscr a{
    color: white;
    background-color: rgba(22, 38, 53, 1);
    text-transform: uppercase;
}

#sefi {
    width: 13rem;
}

#fb {
    width: 15rem;
}
#here {
    width: 8rem;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #intro {
        background-size: 100%;
    }

    .map-responsive {
        overflow: hidden;
        padding-bottom: 50%;
        position: relative;
        height: 0;
    }

    .map-responsive iframe {
        left: 0px;
        top: 1rem;
        height: 100%;
        width: 100%;
        position: absolute;
    }
    .img-intro:nth-child(2){
        margin-top: 2rem;
    }


}

.title-arte {
    background: linear-gradient(0.25turn, #a135d5, #ca3058);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    #intro{
        background-size: cover;
        background-image: url('../img/INICIO/fondo2-01.png');
    }
    .intro-logo {
        width: 35% !important;
        margin-top: 15%;
    }

    .logo-unam {
        width: 85px;
        height: 100px;
    }

    .logo-fi {
        width: 80px;
        height: 100px;
    }

    .logo-sefi {
        width: 150px;
        height: 80px;
    }

    .nosotros-cards.card {
        padding: 0;
    }
    .nosotros-cards.card.challenges{
        margin-bottom: 2rem;
    }
    .presenting-sponsor div img{
        width: 40%;
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .navbar-nav.nav-fill.ml-auto {
        width: 75% !important;
    }

    .intro-logo {
        width: 20% !important;
        margin-top: 0%;
    }

    .nosotros-cards.card {
        max-width: 230px;
    }
    #intro {
        /* background-size: contain; */
    }
    .nosotros-cards.card.challenges{
        max-width: 100%;
    }

}
#cisco {
    width: 10rem;
}
#aruba {
    width: 10rem;
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}

/* Extra Extra large devices (large laptops and desktops, 1920 and up) */
@media only screen and (min-width: 1920px) {}
